<div ng-include="'components/navbar/navbar.html'"></div>

<!-- START - Code Cloud Browser -->
<div class="container cc-editor">
	<div class="cc-editor__info">
		<form>
			<input id="title" name="Title" class="info__field" type="text" ng-model="editorForm.title" placeholder="Title">
			<input id="title" class="info__field" type="text" id="description" ng-model="editorForm.description" placeholder="Description">
			<tags-input class="info__field" ng-model="topicTags" placeholder="+ Topic"></tags-input>
			<tags-input class="info__field" ng-model="languageTags" max-tags="1" placeholder="+ Language">
				<auto-complete source="loadLanguageTags($query)"></auto-complete>
			</tags-input>
			<tags-input class="info__field" ng-model="projectTags" placeholder="+ Project"></tags-input>
		</form>
		
		<div class="button-group">
			<button id="save" ng-click="saveSnippet()" class="info__field save btn">SAVE</button>
			<button id="copy-cb" class="info__field copy-cb btn">COPY TO CLIPBOARD</button>
			<button id="copy-cb" class="info__field copy-cb btn">COPY SHARE LINK</button>
		</div>
    </div>
	</div>
	<ui-codemirror ui-codemirror-opts="editorOptions" ng-model="editorContent" class="cc-editor__editor">
	</ui-codemirror>

</div>
<!-- END - Code Cloud Browser -->