@font-face {
	font-family: 'icomoon';
	src:url('assets/fonts/icomoon.eot?-cfyjgs');
	src:url('assets/fonts/icomoon.eot?#iefix-cfyjgs') format('embedded-opentype'),
		url('assets/fonts/icomoon.woff?-cfyjgs') format('woff'),
		url('assets/fonts/icomoon.ttf?-cfyjgs') format('truetype'),
		url('assets/fonts/icomoon.svg?-cfyjgs#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil2:before {
	content: "\e906";
}

.icon-copy:before {
	content: "\e92c";
}

.icon-envelop:before {
	content: "\e945";
}

.icon-spinner11:before {
	content: "\e984";
}

.icon-search:before {
	content: "\e986";
}

.icon-cog:before {
	content: "\e994";
}

.icon-bug:before {
	content: "\e999";
}

.icon-bin2:before {
	content: "\e9ad";
}

.icon-cloud:before {
	content: "\e9c1";
}

.icon-cloud-upload:before {
	content: "\e9c3";
}

.icon-cloud-check:before {
	content: "\e9c4";
}

.icon-star-empty:before {
	content: "\e9d7";
}

.icon-star-full:before {
	content: "\e9d9";
}

.icon-circle-up:before {
	content: "\ea41";
}

.icon-circle-right:before {
	content: "\ea42";
}

.icon-circle-down:before {
	content: "\ea43";
}

.icon-circle-left:before {
	content: "\ea44";
}

.icon-share:before {
	content: "\ea7d";
}

.icon-mail4:before {
	content: "\ea86";
}

.icon-github5:before {
	content: "\eab5";
}

.icon-html5:before {
	content: "\eadf";
}

.icon-chrome:before {
	content: "\eae5";
}

.icon-firefox:before {
	content: "\eae6";
}

.icon-IE:before {
	content: "\eae7";
}

.icon-opera:before {
	content: "\eae8";
}

.icon-safari:before {
	content: "\eae9";
}

